.text-about {
    color: #112a27;
    width: 30em;
    font-size: 1rem;
}

.about-1 img {
    height: 16em;
    width: 100%;
    padding: 0;
    margin: 0;
}

.circle-clippath {
    clip-path: circle(50% at 50% 98%);
    background-color: #bda99b;
    height: 25em;
    width: 50em;
}

.contact {
    background-color: #f2e4d9;
}

.contact-text {
    height: 25em;
    width: 45em;
}

.circle-clippath {
    clip-path: circle(50% at 50% 98%);
    background-color: #bda99b;
    height: 25em;
    width: 45em;
}

/* kaydırma çubuğu ayarları  */

::-webkit-scrollbar {
    background-color: #cbd4de;
}

::-webkit-scrollbar-button {
    background-color: #cbd4de;
}

::-webkit-scrollbar-thumb {
    background-color: #cbd4de;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #112a27;
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    background-color: #f2e4d9;
    border-radius: 1rem;
}

.btn-me {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #112a27;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #bda99b;
    border: 1px solid #112a27;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-color: #bda99b;
}

.btn-me:hover {
    background-color: #f2e4d9;
    color: #112a27;
    border-color: #f2e4d9;
}
